//- Created by Arthur on 2017/1/14.
!{ Loader('/public/dist/js/editor.min.js').js('/public/js/markdownit.js').js('/public/js/plugins/editor/editor.js').js('/public/js/plugins/webuploader/webuploader.withoutimage.js').js('/public/js/plugins/editor/ext.js').done(assets,configs.site_static_host,configs.mini_assets) }