//- Created by Arthur on 2017/1/10.
//-script(src='/public/js/theme.js')
.tpl-skiner
    .tpl-skiner-toggle.am-icon-cog
    .tpl-skiner-content
        .tpl-skiner-content-title
            | 选择主题
        .tpl-skiner-content-bar
            span.skiner-color.skiner-white(data-color='theme-white')
            span.skiner-color.skiner-black(data-color='theme-black')