//- Created by Arthur on 2017/1/11.
.am-u-sm-12.am-u-md-8
    .widget.am-cf
        .widget-head.am-cf
            .widget-title.am-fl 新增用户数量
            .widget-function.am-fr
                a.am-icon-cog(href='javascript:;')
        #tpl-echarts.widget-body-md.widget-body.tpl-amendment-echarts.am-fr