//- Created by Arthur on 2017/1/22.
script(type='text/javascript',src='/public/js/markdownit.js')
script(type='text/javascript',src='/public/js/plugins/editor/editor.js')
script(type='text/javascript',src='/public/js/plugins/webuploader/webuploader.withoutimage.js')
script(type='text/javascript',src='/public/js/plugins/editor/bxt.js')