//- Created by arthursong on 17/1/8.
extends ../layout

block content
    body.page-contact
        .row.top
            .col-lg-12.col-md-12.col-sm-12.col-left.black
                .name
                    a(href='/').left #{site.name}
                .status.right
                    a(href='/login') 登录
                    a(href='/register') 注册